<app-navbar></app-navbar>

<body>
    <div class="top-to-bottom">
        <div class="card card-adjust">
            <div class="card-body need-flex-two">
                <div>
                    <blockquote class="blockquote mb-0">
                        <i class="fa-brands fa-angular color-i"></i> <span class="header-font"> Angular Interactive
                            Courses</span>
                        <h5 class="for-font-size">Introduction to Angular Fundamendals</h5>
                    </blockquote>
                    <div class="for-start">
                        <div>
                            <button class="btn btn-primary for-padding1" [routerLink]="['/content', quiz_content[0].content_id]">
                                Start course
                            </button>
                        </div>
                        <div>
                            <button class="btn btn-danger for-padding2">
                                <i class="fa-regular fa-bookmark"></i> Bookmark</button>
                        </div>
                    </div>

                    <div class="for-start-details">
                        <div>
                            <i class="fa-solid fa-stopwatch"></i> 14 hours
                        </div>

                        <div class="for-padding-details">
                            <i class="fa-solid fa-user-group"></i> 164,555
                        </div>

                        <div class="for-padding-details">
                            <i class="fa-solid fa-code"></i> 20 Challenges
                        </div>

                        <div class="for-padding-details">
                            <i class="fa-solid fa-trophy"></i> 100 badges
                        </div>
                    </div>
                </div>

                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/61dckXqDRJI" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="card-below">
            <div class="below-card">
                <div class="need-flex">
                    <h5>Course Description</h5>

                    <p class="indented">These courses cover the basics of Angular, including building blocks such as
                        components, directives, templates, and data binding.These courses cover the basics of Angular,
                        including building blocks
                        such as components, directives, templates, and data binding.These courses cover the basics of
                        Angular, including building blocks such as components, directives, templates, and data
                        binding.These
                        courses cover the basics of Angular, including building blocks such as components, directives,
                        templates, and data binding. These courses cover the basics of Angular, including building
                        blocks
                        such as components, directives, templates, and data binding.
                    </p>
                </div>

                <div class="content-cards">
                    <div class="card content-card">
                        <div class="card-body">
                            <div class="flex-need">
                                <h5 class="card-title"><b>Basics of Angular</b></h5>
                                <div class="progress for-progress-width" role="progressbar"
                                    aria-label="Example with label" aria-valuenow="25" aria-valuemin="0"
                                    aria-valuemax="100">
                                    <div class="progress-bar" style="width: 25%">25%</div>
                                </div>
                            </div>
                            <p class="card-text indented">These courses cover the basics of Angular, including building
                                blocks such as components, directives, templates, and data binding.These courses cover
                                the basics of Angular, including building blocks such as components, directives,
                                templates, and data binding.
                            </p>
                        </div>
                        <div class="card-footer text-muted">
                            <button class="btn btn-info float-right" routerLink="/content">Start Chapter</button>
                        </div>
                    </div>
                </div>

                <div class="content-cards">
                    <div class="card content-card">
                        <div class="card-body">
                            <div class="flex-need">
                                <h5 class="card-title"><b>Angular Components</b></h5>
                                <div class="progress for-progress-width" role="progressbar"
                                    aria-label="Example with label" aria-valuenow="5" aria-valuemin="0"
                                    aria-valuemax="100">
                                    <div class="progress-bar" style="width: 10%">10%</div>
                                </div>
                            </div>
                            <p class="card-text indented">These courses cover the basics of Angular, including building
                                blocks such as components, directives, templates, and data binding.These courses cover
                                the basics of Angular, including building blocks such as components, directives,
                                templates, and data binding.
                            </p>
                        </div>
                        <div class="card-footer text-muted">
                            <button class="btn btn-info float-right" routerLink="/content">Start Chapter</button>
                        </div>
                    </div>
                </div>

                <div class="content-cards">
                    <div class="card content-card">
                        <div class="card-body">
                            <div class="flex-need">
                                <h5 class="card-title"><b>Angular Directives & templates</b></h5>
                                <div class="progress for-progress-width" role="progressbar"
                                    aria-label="Example with label" aria-valuenow="25" aria-valuemin="0"
                                    aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%">0%</div>
                                </div>
                            </div>
                            <p class="card-text indented">These courses cover the basics of Angular, including building
                                blocks such as components, directives, templates, and data binding.These courses cover
                                the basics of Angular, including building blocks such as components, directives,
                                templates, and data binding.
                            </p>
                        </div>
                        <div class="card-footer text-muted">
                            <button class="btn btn-info float-right" routerLink="/content">Start Chapter</button>
                        </div>
                    </div>
                </div>

                <div class="content-cards">
                    <div class="card content-card">
                        <div class="card-body">
                            <div class="flex-need">
                                <h5 class="card-title"><b>Angular data binding</b></h5>
                                <div class="progress for-progress-width" role="progressbar"
                                    aria-label="Example with label" aria-valuenow="25" aria-valuemin="0"
                                    aria-valuemax="100">
                                    <div class="progress-bar" style="width: 0%">0%</div>
                                </div>
                            </div>
                            <p class="card-text indented">These courses cover the basics of Angular, including building
                                blocks such as components, directives, templates, and data binding.These courses cover
                                the basics of Angular, including building blocks such as components, directives,
                                templates, and data binding.
                            </p>
                        </div>
                        <div class="card-footer text-muted">
                            <button class="btn btn-info float-right" routerLink="/content">Start Chapter</button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="below-card-next">

                <div class="card for-box" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><b>What you will get</b></h5>
                        <p class="card-text"> - About angular</p>
                        <p class="card-text"> - Node js </p>
                        <p class="card-text"> - Express js </p>
                        <p class="card-text"> -> CERTIFICATE </p>
                    </div>
                </div>

                <div class="card for-box" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><b>Pre-requesting</b></h5>
                        <p class="card-text"> - Html & css</p>
                        <p class="card-text"> - Javascript </p>
                        <p class="card-text"> - wordpress </p>
                        <p class="card-text"> - wordpress </p>
                    </div>
                </div>

                <div class="card for-box" style="width: 18rem;">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title"> <p-avatar label="T" styleClass="mr-2"
                                    [style]="{'background-color': '#2196F3', 'color': '#ffffff'}"
                                    shape="circle"></p-avatar> <b> - Prof. Oracle </b></h5>
                            <p style="text-decoration: underline;">Tutor</p>
                        </div>

                        <p class="card-text" style="margin-top: 1rem;"> About: </p>
                        <p class="card-text" style="text-indent: 2em;"> 13 years of experienced faculty and previously
                            she was worked in oxford university. </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>