<div style="display: flex; flex-direction: column;">
    <div class="flex-head">
        <div class="logo-class" style="margin-top: 0.5rem; margin-left: 1rem;">
            <a href="/home"><img src="assets/images/iamneo-logo.png" class="neo-logo cursor-class"></a>
        </div>

        <div class="for-header">
            <table class="table table-bordered" style="border: 1px; padding: .8rem;">
                <thead>
                    <tr style="cursor: pointer;">
                        <th scope="col"><i class="fa-solid fa-arrow-left" style="font-size: .85rem;"></i>&nbsp;<span
                                style="font-size: .85rem;"></span></th>
                        <th scope="col" routerLink="/content" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                                class="fa-solid fa-list" style="font-size: .85rem;"></i>&nbsp;<span
                                style="font-size: .85rem;">Content</span></th>
                        <th scope="col" routerLink="/practice"><i class="fa-solid fa-laptop-code"
                                style="font-size: .85rem;"></i>&nbsp;<span style="font-size: .85rem;">Practice</span>
                        </th>
                        <th scope="col"><i class="fa-solid fa-arrow-right" style="font-size: .85rem;"></i>&nbsp;<span
                                style="font-size: .85rem;"></span></th>
                    </tr>
                </thead>
            </table>
        </div>

        <div style="margin-top: 0.6rem; margin-right: 0.5rem;" class="cursor-class">
            <i class="fa-regular fa-file-pdf" ngbTooltip="Material" data-bs-toggle="modal"
                data-bs-target="#exampleModal" style="font-size: 1.25rem;"></i> &nbsp; &nbsp;
            <i class="fa-regular fa-file-lines" ngbTooltip="Notes" style="font-size: 1.25rem;"></i> &nbsp; &nbsp;
            <i class="fa-regular fa-circle-question" ngbTooltip="Course Info" style="font-size: 1.25rem;"></i> &nbsp;
            &nbsp;
        </div>
    </div>

    <div class="next-all">
        
    </div>
</div>