/* #05192d */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: "Poppins", sans-serif;
}

.all-content {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.flex-head {
    display: flex;
    padding: 0.4rem;
    justify-content: space-between;
    z-index: 1;
    width: 100vw;
    background-color: #f1eeee;
    height: 60px;
    position: fixed;
}

.neo-logo {
    width: 90px;
}

.cursor-class {
    cursor: pointer;
}

.logo-class {
    font-family: "Poppins", sans-serif;
}

::ng-deep .tooltip-inner {
    font-size: 0.75rem;
}

.h1-class {
    font-family: "Poppins", sans-serif;
    padding: 1.5rem;
}

/* .drop-class {
    margin-top: -.3rem;
    margin-bottom: 1.5rem;
}

.dropdown-menu {
    display: none;
    background: none;
    font-size: 0.9rem;
    margin-top: -.9rem;
}

.dropdown-menu a {
    color: #fff;
}

.dropdown-open {
    display: block;
}

.dropdown-margin-top {
    margin-top: 120px;
}
 */

/* header */

.for-header {
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
    display: flex;
    margin-left: 2rem;
}

.for-bottoms {
    margin-bottom: -1.8rem;
}

/* end header */

.next-all {
   margin-top: 5rem;
   width: 100%;
}

.for-bg-color {
    background: #fff;
    padding-top: .6rem;
    padding-bottom: .2rem;
    padding-left: .6rem;
    padding-right: .6rem;
    min-width: 700px;
    max-width: 1200px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 920px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.p-for {
    margin-top: 5rem;
}

.for-below-next {
    margin: 0 auto;
    min-width: 700px;
    max-width: 1200px;
    width: 920px;
    z-index: 2;
}

.btns {
    margin-top: 1.2rem;
    margin-bottom: 1rem;
}

iframe {
    width: 750px;
    height: 500px;
    border: none;
}

.fade-in-image {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* .flex-class{
    display: flex;
    justify-content: space-between;
} */

/* .for-footer{
    background: #fff;
    height: 40px;
    flex-grow: 1;
} */

.footer-class{
    background: #f1eeee;
    height: 25px;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 22px;
    width: 100%;
    padding: 0 20px;
    z-index: 0;
}

::ng-deep .p-progressbar-label {
    display: none !important;
}



@media screen and (max-width: 800px) {}