<!-- <app-navbar></app-navbar> -->

<body class="fade-in-image">
  <div class="all-content">
    <div class="flex-head">
      <div class="logo-class">
        <div>
          <a href="/home"><img src="assets/images/iamneo-logo.png" class="neo-logo cursor-class"></a>
        </div>
        <div>
          <div class="cursor-class for-hiding">
            <i class="fa-regular fa-file-pdf for-icon-adjust" data-bs-toggle="modal" data-bs-target="#staticBackdrop2"
              pTooltip="Material" tooltipPosition="left" placeholder="Left">
            </i> &nbsp; &nbsp;
      
            <i class="fa-regular fa-file-lines for-icon-adjust" pTooltip="Notes" tooltipPosition="top" placeholder="Top"
              (click)="sidebarVisible2 = true">
            </i> &nbsp; &nbsp;
      
            <i class="fa-regular fa-circle-question for-icon-adjust" (click)="downloadZip()" pTooltip="Feedback"
              tooltipPosition="left" placeholder="Left" data-bs-toggle="modal" data-bs-target="#exampleModal2">
            </i> &nbsp; &nbsp;
          </div>
        </div>
      </div>

      <div class="for-header">
        <table class="table table-bordered for-table">
          <thead>
            <tr style="cursor: pointer;">
              <th scope="col" pTooltip="Back" tooltipPosition="left" (click)="goBack()">
                <i class="fa-solid fa-arrow-left for-header-font"></i>&nbsp;
                <span class="for-header-font"></span>
              </th>
              <th scope="col" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa-solid fa-list for-header-font"></i>&nbsp;
                <span class="for-header-font">Content</span>
              </th>
              <th scope="col" routerLink="/practice">
                <i class="fa-solid fa-laptop-code for-header-font"></i>&nbsp;
                <span class="for-header-font">Practice</span>
              </th>
              <th scope="col" pTooltip="Next" tooltipPosition="right" (click)="goForward()">
                <i class="fa-solid fa-arrow-right for-header-font"></i>&nbsp;
                <span class="for-header-font"></span>
              </th>
            </tr>
          </thead>
        </table>
      </div>

      <div class="cursor-class widget">
        <i class="fa-regular fa-file-pdf for-icon-adjust" data-bs-toggle="modal" data-bs-target="#staticBackdrop2"
          pTooltip="Material" tooltipPosition="left" placeholder="Left">
        </i> &nbsp; &nbsp;

        <i class="fa-regular fa-file-lines for-icon-adjust" pTooltip="Notes" tooltipPosition="top" placeholder="Top"
          (click)="sidebarVisible2 = true">
        </i> &nbsp; &nbsp;

        <i class="fa-regular fa-circle-question for-icon-adjust" (click)="downloadZip()" pTooltip="Feedback"
          tooltipPosition="left" placeholder="Left" data-bs-toggle="modal" data-bs-target="#exampleModal2">
        </i> &nbsp; &nbsp;
      </div>
    </div>
    <div class="next-all" *ngIf="loaded">
      <div class="for-below-next">
        <div class="reload-container">
          <div class="reload-animation" [hidden]="!isLoading">
            <div class="loader"></div>
          </div>
        </div>
        <div class="p-for">
          <p class="for-ques">
            <span>{{quiz_content.video_question}}</span>
          </p>
        </div>
        <div class="for-bg-color">
          <video #videoElement controls controlsList="nodownload" oncontextmenu="return false;"
            class="video-class fade-out-image" (ended)="onVideoEnded()">
            <source src="assets/images/ang.mp4" type="video/mp4">
            Your browser does not support the video.
          </video>
        </div>
        <div class="d-flex justify-content-between btns">
          <div style="margin-left: .5rem;"><button type="button" class="btn btn-sm btn-outline-dark"
              (click)="showTranscript()"> {{ showTranscriptFlag ? 'Hidescript' : 'Showscript' }}</button>
          </div>
          <!-- <div class="d-flex" *ngIf="!videoEndedForFirstTime">
            <p style="color: red; margin-top: .5rem; margin-right: 1rem;">*Complete the video and go to next!</p>
            <button class="btn btn-sm btn-dark unq-color" [disabled]="!videoEndedForFirstTime" *ngIf="showNextButton"
              style="cursor: pointer;">Next</button>
          </div> -->
          <div style="display: flex;">
            <p style="color: red; margin-top: .3rem; margin-right: 1rem;">*Understand ?</p>
            <div style="margin-right: 1rem;">
              <button class="btn btn-sm btn-primary unq-color" (click)="sendContentId();"
                (click)="reloadAndFadeIn();">Yes
              </button>
            </div>
            <div>
              <button class="btn btn-sm btn-dark"><a href="https://angular.io/guide/what-is-angular" target="_blank"
                  style="text-decoration: none; color: #fff;">No</a>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="showscript" *ngIf="showTranscriptFlag">
        <div>
          <p style="font-size: 1.2rem; font-weight: 500;">1. What is Angular</p>
          <p style="margin-bottom: 1rem; text-indent: 3em; text-align: justify;">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Donec malesuada urna vitae lorem dapibus, vel
            lacinia
            lacus aliquam. Sed eget leo enim. Sed vitae urna auctor, lacinia arcu nec, lobortis lectus. Sed luctus leo
            in felis
            euismod interdum.</p>
        </div>
        <div>
          <p style="font-size: 1.2rem; font-weight: 500;">2. What is Angular</p>
          <p style="margin-bottom: 1rem; text-indent: 3em;text-align: justify;">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Donec malesuada urna vitae lorem dapibus, vel
            lacinia
            lacus aliquam. Sed eget leo enim. Sed vitae urna auctor, lacinia arcu nec, lobortis lectus. Sed luctus leo
            in felis
            euismod interdum.</p>
        </div>
        <div>
          <p style="font-size: 1.2rem; font-weight: 500;">3. What is Angular</p>
          <p style="margin-bottom: 1rem; text-indent: 3em;text-align: justify;">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Donec malesuada urna vitae lorem dapibus, vel
            lacinia
            lacus aliquam. Sed eget leo enim. Sed vitae urna auctor, lacinia arcu nec, lobortis lectus. Sed luctus leo
            in felis
            euismod interdum.</p>
        </div>
        <div>
          <p style="font-size: 1.2rem; font-weight: 500;">4. What is Angular</p>
          <p style="margin-bottom: 1rem; text-indent: 3em;text-align: justify;">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Donec malesuada urna vitae lorem dapibus, vel
            lacinia
            lacus aliquam. Sed eget leo enim. Sed vitae urna auctor, lacinia arcu nec, lobortis lectus. Sed luctus leo
            in felis
            euismod interdum.</p>
        </div>
      </div>
    </div>

    <!-- <div class="next-all-radio fade-in-image" [hidden]="!showNextAllDiv">
      <div class="for-below-next" *ngFor="let answer of answer_content; let i=index" [hidden]="i !== currentQuizIndex">
        <div class="for-bg-color-quiz">
          <div>
            <h1 class="for-h1-font"><span style="color: #0b2558;">Question&nbsp;{{i+1}}: &nbsp;</span>
              <span>{{answer.quiz_question}}</span>
            </h1>
          </div>
          <div>
            <p class="for-p-class">
              <span>{{answer.quiz_question_exp}}</span>
            </p>
          </div>

          <div class="for-answer-class">
            <span class="text-class"><i class="fa-regular fa-circle-check"></i>&nbsp;
              Answer the question!</span>
          </div>

          <div class="for-answers" *ngIf="answer?.option==='2'">
            <p style="margin-bottom: 2rem; font-size: 1.1rem; font-weight: 600;">Multiple selection:</p>
            <div *ngIf="ans && ans.length">
              <div style="display: flex; line-height: 3.5rem; justify-content: space-between;"
                *ngFor="let checkbox of ans[i]; let j=index;">
                <div style="display: flex;">
                  <p-checkbox [value]="checkbox.value+j" [inputId]="checkbox.label + j"
                    (change)="onCheckBoxChange()"></p-checkbox>
                  <div style="margin-left: 2rem;">
                    <label for="{{checkbox.label + j}}">{{checkbox}}</label>
                  </div>
                </div>
                <div>
                  <span>Press</span>&nbsp;&nbsp;
                  <p-tag value=""
                    [style]="{'background':'#0b2558','height':'25px','box-shadow':'rgba(0, 0, 0, 0.16) 0px 1px 4px'}">
                    {{j+1}}
                  </p-tag>
                </div>
              </div>
            </div>

            <div style="margin-top: 1.5rem;">
              <div class="for-flex-class">
                <div>
                  <button class="btn btn-sm btn-dark unq-color" style="margin-right: 1rem; cursor: pointer;"
                    (click)="showAnswer = true" pTooltip="Click any option to check"
                    tooltipPosition="bottom">
                    Show Answer
                  </button>
                </div>
                <div>
                  <button class="btn btn-sm btn-dark unq-color" (click)="previousQuestion()"
                    [disabled]="currentQuizIndex === 0">Previous</button>
                  &nbsp;&nbsp;&nbsp;
                  <button class="btn btn-sm btn-dark unq-color" *ngIf="currentQuizIndex < answer_content.length - 1"
                    (click)="onNextClicked()">Go to Next
                  </button>
                  <button class="btn btn-sm btn-dark unq-color" *ngIf="currentQuizIndex === answer_content.length - 1"
                    (click)="finishQuiz()">Finish Quiz</button>
                </div>
              </div>
              <div>
                <div *ngIf="showAnswer">
                  <p-tabView [style]="{'background':'#000'}">
                    <p-tabPanel [style]="{'background':'#000'}">
                      <ng-template pTemplate="header">
                        <i class="fa-solid fa-check"></i>
                      </ng-template>
                      <p>
                        <span>{{answer.quiz_answer_exp}}</span>
                      </p>
                    </p-tabPanel>
                  </p-tabView>
                </div>

                <div *ngIf="showAnswerWrong">
                  <p-tabView [style]="{'background':'#000'}">
                    <p-tabPanel [style]="{'background':'#000'}">
                      <ng-template pTemplate="header" [style]="{'background':'#000'}">
                        <i class="fa-solid fa-xmark"></i>
                      </ng-template>
                      <p>
                        <span>{{answer.quiz_answer_exp}}</span>
                      </p>
                    </p-tabPanel>
                  </p-tabView>
                </div>
              </div>
            </div>
          </div>

          <div class="for-answers" *ngIf="answer?.option==='1'">
            <p style="margin-bottom: 2rem; font-size: 1.1rem; font-weight: 600;">Please select any one option!</p>
            <div *ngIf="ans && ans.length">
              <div style="line-height: 3.5rem; display: flex; justify-content: space-between;"
                *ngFor="let radio_option of ans[i]; let k = index">
                <div class="flex flex-wrap gap-3">
                  <div class="d-flex align-items-center">
                    <p-radioButton [inputId]="radio_option+k" [name]="radio_option+k+i" [value]="radio_option"
                      [(ngModel)]="selectedOption"></p-radioButton>
                    <div style="margin-left: 2rem;"><label class="ml-2">{{ radio_option }}</label></div>
                  </div>
                </div>
                <div>
                  <span>Press</span>&nbsp;&nbsp;
                  <p-tag value=""
                    [style]="{'background':'#0b2558','height':'25px','box-shadow':'rgba(0, 0, 0, 0.16) 0px 1px 4px'}">
                    {{k+1}}
                  </p-tag>
                </div>
              </div>
            </div>
            <div style="margin-top: 1.5rem;">

              <div>
                <div class="for-flex-class">
                  <div>
                    <button class="btn btn-sm btn-dark unq-color" style="margin-right: 1rem; cursor: pointer;"
                      (click)="showAnswer = true" pTooltip="Click any option to check"
                      tooltipPosition="bottom">
                      Show Answer
                    </button>
                  </div>
                  <div>
                    <button class="btn btn-sm btn-dark unq-color" (click)="previousQuestion()"
                      [disabled]="currentQuizIndex === 0">Previous</button>
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-sm btn-dark unq-color" *ngIf="currentQuizIndex < quiz_content.length - 1"
                      (click)="onNextClicked()">Go to Next
                    </button>
                    <button class="btn btn-sm btn-dark unq-color" *ngIf="currentQuizIndex === quiz_content.length - 1"
                      (click)="finishQuiz()">Finish Quiz</button>
                  </div>
                </div>
              </div>

              <div>
                <div *ngIf="showAnswerWrong">
                  <p-tabView [style]="{'background':'#000'}">
                    <p-tabPanel [style]="{'background':'#000'}">
                      <ng-template pTemplate="header">
                        <i class="fa-solid fa-check"></i>
                      </ng-template>
                      <p>
                        <span>{{answer.quiz_answer_exp}}</span>
                      </p>
                    </p-tabPanel>
                  </p-tabView>
                </div>

                <div *ngIf="showAnswer">
                  <p-tabView [style]="{'background':'#000'}">
                    <p-tabPanel [style]="{'background':'#000'}">
                      <ng-template pTemplate="header" [style]="{'background':'#000'}">
                        <i class="fa-solid fa-xmark"></i>
                      </ng-template>
                      <p>
                        <span>{{answer.quiz_answer_exp}}</span>
                      </p>
                    </p-tabPanel>
                  </p-tabView>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="footer-class">
      <div class="for-progress">
        <div class="card for-progress-align">
          <div class="d-flex for-gap">
            <p-progressBar [value]="30"
              [style]="{'height':'6px','width':'230px','text-align':'center'}"></p-progressBar>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-sidebar [style]="{'width':'350px','opacity':'1'}" [(visible)]="sidebarVisible2" position="right">
    <div style="margin-top: -.1rem;">
      <div>
        <h3>Take Notes</h3>
      </div>
      <div style="margin-bottom: 1rem; display: flex; justify-content: space-between;">
        <div style="margin-top: .2rem; cursor: pointer;">
          <i class="fa-regular fa-circle-play" pTooltip="play video" tooltipPosition="top" placeholder="Top"
            style="font-size: 1.3rem;" (click)="playVideo()" [hidden]="showNextAllDiv"></i> &nbsp; &nbsp;
          <i class="fa-regular fa-circle-pause" pTooltip="pause video" tooltipPosition="top" placeholder="Top"
            style="font-size: 1.3rem;" (click)="pauseVideo()" [hidden]="showNextAllDiv"></i>
        </div>
        <div>
          <button class="btn btn-sm btn-dark unq-color" pTooltip="Download as txt" tooltipPosition="left"
            placeholder="Left" (click)="exportText()"><i class="fa-solid fa-download"></i> &nbsp;Export</button>
        </div>
      </div>

      <div><quill-editor #editor [style]="{'height':'560px','font-size':'1rem'}"></quill-editor></div>
    </div>
  </p-sidebar>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel" style="margin-bottom: -.5rem;">Course Content</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p-accordion [multiple]="true" [activeIndex]="[0]">
            <p-accordionTab header="Module {{i+1}}: {{cc_data.module_name}}"
              *ngFor="let cc_data of all_course_content; let i=index;">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" class="no_class">No.</th>
                    <th scope="col" class="content_class">Content</th>
                    <th scope="col" class="progress_class">Badges</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let content of cc_data.contents.split(','); let j=index;">
                    <th scope="row">{{j+1}}</th>
                    <td class="cursor-class">{{ content }}</td>
                    <td class="cursor-class">50 Neo-coin</td>
                  </tr>
                </tbody>
              </table>
            </p-accordionTab>
          </p-accordion>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
            <i class="fa-solid fa-arrow-left-long"></i> Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- feedback modal -->
  <form>
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Course Feedback!</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Course Name:</label> &nbsp;
              <span><b>Angular</b></span>
            </div>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Subject:</label>
              <input type="text" class="form-control" id="recipient-name" [(ngModel)]="f_subject"
                [ngModelOptions]="{standalone:true}">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Feedback:</label>
              <textarea class="form-control" id="message-text" [(ngModel)]="f_feedback"
                [ngModelOptions]="{standalone:true}"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">close</button>
            <button type="submit" class="btn btn-sm btn-primary unq-color" (click)="onSubmit()">Submit Feedback</button>
          </div>
        </div>
      </div>
    </div>
  </form>

</body>