<!doctype html>
<html lang="en">

<body>
	<div><app-navbar></app-navbar></div>
	<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="banner_content">
							<h1 class="text-uppercase">Welcome to </h1>
							<h5 class="text-uppercase">Angular Interactive course</h5>
							<a pButton routerLink="/about-course" class="primary_btn">Get start</a>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="home_right_img">
							<img class="for-imgg"  src="/assets/images/home-right.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>